<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tastybug.timetracker">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".infrastructure.runtime.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity
            android:name=".core.ui.dashboard.ProjectsActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".core.ui.projectdetails.ProjectDetailsActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".core.ui.projectconfiguration.ProjectConfigurationActivity"
            android:noHistory="true" />
        <activity
            android:name=".core.ui.settings.SettingsActivity"
            android:noHistory="true" />
        <activity
            android:name=".core.ui.trackingrecordmodification.TrackingRecordModificationActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter> <!-- this allows the tracking player notification to open this activity from 'outside' -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".extension.backup.ui.BackupActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/json" />
            </intent-filter>
            <intent-filter>
                <action android:name="RESTORE_LAST_BACKUP" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="CREATE_AND_SHARE_BACKUP" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver android:name=".extension.trackingplayer.AfterBootTrackingPlayerVisibilityHandler">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".extension.autoclosure.controller.AlarmStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tastybug.timetracker.APP_START" />
            </intent-filter>
        </receiver>
        <receiver android:name=".extension.checkoutreminder.controller.AlarmStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tastybug.timetracker.APP_START" />
            </intent-filter>
        </receiver>
        <receiver android:name=".extension.wifitracking.controller.OSWifiBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".extension.backup.controller.localbackup.scheduling.AlarmArming">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tastybug.timetracker.APP_START" />
            </intent-filter>
        </receiver>
        <receiver android:name=".extension.trackingplayer.DomainEventBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.tastybug.timetracker.PROJECT_CHANGE" />
                <category android:name="com.tastybug.timetracker.LIFECYCLE_EVENT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tastybug.timetracker.TRACKING_RECORD_CHANGE" />
                <category android:name="com.tastybug.timetracker.LIFECYCLE_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".extension.warning.DomainEventBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.tastybug.timetracker.PROJECT_CHANGE" />
                <category android:name="com.tastybug.timetracker.LIFECYCLE_EVENT" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".infrastructure.db.DatabaseContentProvider"
            android:authorities="com.tastybug.timetracker"
            android:exported="false"
            android:launchMode="singleTask"
            android:multiprocess="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tastybug.timetracker.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <!-- intent services -->
        <service
            android:name=".extension.trackingplayer.CallbackService"
            android:exported="false" />
        <service
            android:name=".extension.backup.controller.localbackup.scheduling.AlarmCallback"
            android:exported="false" />
        <service
            android:name=".extension.autoclosure.controller.AutoClosureService"
            android:exported="false" />
        <service
            android:name=".extension.checkoutreminder.controller.ReminderIntentService"
            android:exported="false" />
        <service
            android:name=".extension.wifitracking.controller.checkout.PostGracePeriodCallbackService"
            android:exported="false" />

        <!--database stuff-->
        <meta-data
            android:name="database.schema.version.current"
            android:value="4" />
        <meta-data
            android:name="database.file.name"
            android:value="timetracker.database" />
        <meta-data
            android:name="database.scripts.folder"
            android:value="sql" />
        <meta-data
            android:name="database.scripts.prefix.model"
            android:value="ddl_" />
        <meta-data
            android:name="database.scripts.prefix.data"
            android:value="dml_" />

    </application>

</manifest>