<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="${manifest.version.code}" android:versionName="${manifest.version.name}" package="com.tastybug.timetracker">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22"/>


    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true">
        <activity android:name="com.tastybug.timetracker.PlaceholderActivity" android:noHistory="true" android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--database stuff-->
        <meta-data android:name="database.schema.version.current" android:value="1"/>
        <meta-data android:name="database.name" android:value="timetracker.database"/>
        <meta-data android:name="database.scripts.folder" android:value="sql"/>
        <meta-data android:name="database.scripts.prefix.model" android:value="ddl_"/>
        <meta-data android:name="database.scripts.prefix.data" android:value="dml_"/>

    </application>
</manifest>