<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.tastybug.timetracker">

    <application android:name=".application.Application" android:theme="@style/Theme.AppCompat.DayNight" android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true">
        <activity android:name=".gui.activity.ProjectsActivity" android:launchMode="singleTop" android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".gui.activity.ProjectDetailsActivity" android:launchMode="singleTop" android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".gui.activity.ProjectConfigurationActivity" android:launchMode="singleTop"  android:noHistory="true" android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".gui.activity.TrackingRecordModificationActivity" android:launchMode="singleTop"  android:noHistory="true" android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".gui.activity.BottomSheetActivity" android:launchMode="singleTop"  android:noHistory="true" android:windowSoftInputMode="stateHidden|adjustPan">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>

        <!--database stuff-->
        <meta-data android:name="database.schema.version.current" android:value="1"/>
        <meta-data android:name="database.file.name" android:value="timetracker.database"/>
        <meta-data android:name="database.scripts.folder" android:value="sql"/>
        <meta-data android:name="database.scripts.prefix.model" android:value="ddl_"/>
        <meta-data android:name="database.scripts.prefix.data" android:value="dml_"/>

        <provider android:authorities="com.tastybug.timetracker" android:exported="false" android:multiprocess="true" android:name=".database.DatabaseContentProvider" android:launchMode="singleTask"/>

    </application>
</manifest>